{% extends "base.html" %}

{% block title %}
    Donates
{% endblock %}

{% block content %}


<!DOCTYPE html>
<html lan="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {background-color:#d3d3d3;}
    </style>
    <title> Donates </title>
</head>

<body>
    <center><font size="5" color="black">Bağış yapabileceğiniz kripto para cüzdan adresleri:</font></center>
    <center><font size="4" color="black">Bitcoin: 1DAxR8SuTYRJA7WRQxP132EZtnHbMEoC4R</font></center>
    <center><font size="4" color="black">Rose (Oasis): oasis1qrvg9w0j69t696fxym980x0wwftfeugsjqev5kmz</font></center>
    <center><font size="4" color="black">Monero (XMR): 84BGMLXb6ZZ9wifQWpYizWjHNCeFppZvFHH5RMmYkPV8hj6zPmJjDa6SpLhQQ557wRYL2jCYRTDMqdGaGNLD6xfyDMEiZSN</font></center>
</body>
</html>

{% endblock %}
